/** Global */
body{
    display: grid;
    min-height: 100vh;
}
.left,
.right{
    display: inline-flex;
}
/* ******** */

/* *Navigation bar */
.top-navbar{
    display: flex;
    padding: 8px 20px;
    background-color: black;
    color: #979797;
    justify-content: space-between;
}
.navbar-item{
    margin-right: 10px;
    font-size: 14px;
}
.bottom-navbar{
    display: flex;
    padding: 0;
    font-weight: 600;
    color: #a8a8a8;
    align-items: center;
    justify-content: space-between;
}
.bottom-navbar ul{
    margin-left: 20px;
}
.bottom-navbar .navbar-item{
    margin-right: 20px;
}
.navbar ul{
    display: flex;
}
.search-btn{
    display: flex;
    color: #bcbcbc;
    background: none;
    border: none;
    border-left: 2px solid #bcbcbc;
    padding: 4px 8px;
}
.search-btn i{
    font-size: 28px;
}
.navbar-notice{
    background-color: #ffdd33;
    padding: 8px 20px;
    font-size: 14px;
}
/* *************** */


/** Main articles */
.main-articles{
    display: grid;
    grid-template-areas: "main-item  main-item sub-item1"
                         "main-item  main-item sub-item2";
    padding: 5px;
    gap: 10px;
    height: 60vh;
}
.main-articles article{
    background-color: hotpink;
    position: relative;
}
.main-articles article:first-child{
    grid-area: main-item;
}
.main-articles article:nth-child(2){
    grid-area: sub-item1;
}
.main-articles article:nth-child(3){
    grid-area: sub-item2;
}
.main-articles .background-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: absolute;
}
.main-articles .background-img:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(156,140,140);
    background: linear-gradient(180deg, rgba(156,140,140,0.24411762996214115) 0%, rgba(79,73,73,0.49901959074645486) 12%, rgba(27,25,25,0.882773092147015) 68%);
}
.main-articles .article-txt{
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.article-txt h1{
    font-size: 3em;
    margin-bottom: 6px;
    margin-top: 6px;
}
.main-articles article:nth-child(2) h1,
.main-articles article:nth-child(3) h1{
    font-size: 1.5em;
}
.main-articles article:nth-child(2) h4,
.main-articles article:nth-child(3) h4{
    font-size: 0.8em;
}
.article-txt small{
    color: #bcbcbc;
}
/* *************** */


/** Lastest News */
.lastest-news{
    padding: 10px 80px;
    color: #ff4422;
}
.news-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 20px;
    color: black;
    margin-top: 20px;
    
}
.new img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 2px;
    height: 140px;
}
/* *************** */


/** Funding section */
.funding-section{
    padding: 10px 80px;
    color: #ff4422;
}
.funding-section .row{
    display: flex;
    justify-content: space-between;
}
.funding-section .right{
    align-items: center;
}
.funding-link{
    padding: 0 10px;
    border-right: 1px solid #ff4422;
}
.funding-section .funding-link:last-child{
    padding-right: 0;
    border-right: none;
}
.funding-box-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    margin: 20px 0;
}
.funding-box{
    position: relative;
    display: grid;
}
.funding-box img{
    position: absolute;
    width: 60px;
    object-fit: cover;
    align-self: center;
    left: 10px;
}
.funding-box .upper-txt{
    background-color: #ff4422;
    color: white;
    padding: 10px 20px;
    padding-left: 80px;
}
.funding-box .bottom-txt{
    background-color: #ffebe7;
    color: black;
    padding: 10px 20px;
    padding-left: 80px;
}
.funding-box .bottom-txt h5{
    color: #878489;
}
/* *************** */


/** Footer */
footer{
    align-self: end;
}
.footer-links-wrapper{
    background-color: #131313;
    padding: 30px 0;
    display: grid;
    justify-content: center;
}
.copyright-wrapper{
    background-color: #000000;
    padding: 30px 0;
    color: #9f9f9f;
    display: flex;
    justify-content: center;
}
.social-links,
.footer-links{
    display: flex;
    margin: 15px 0;
    justify-content: center;
}
.social-item{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333333;
    margin-right: 15px;
}
.footer-item{
    color: #aaaaaa;
    margin-right: 15px;
    font-size: 14px;
}
/* ********* */